.chips {
    background-image: url('https://t4.ftcdn.net/jpg/01/07/19/99/360_F_107199932_swDni95HIOZpXsUdLCyVwM4lC3seSPtB.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh
}