.meat {
    background-image: url('https://media1.giphy.com/media/S7EzXlxl9HF0EqR6mW/200w.webp?cid=ecf05e472vit1ni575yorjqdiyneldmtyi7cxzrb37gd8etc&ep=v1_gifs_search&rid=200w.webp&ct=g');
    background-size: 30%;
    width: 100vw;
    height: 100vh
}