.soda {
    background-image: url('https://c0.wallpaperflare.com/preview/777/535/719/beverages-cold-colorful-colourful.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh
}